.blog-post {
  width: 100%;
}

.blog-post-content {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem 1.45rem;
}


.blog-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.paginate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 10px;
}
.paginate-item {
  margin-left: 10px;
}

.top-post {
  margin-left: 10px;
  display: inline-block;
  font-size: 15px;
  color: rgb(30, 128, 255);
}
