.blog-post-content {
  margin: 0 auto;
  max-width: 960px;
  overflow: scroll;
  padding: 0 1.0875rem 1.45rem;
}

.blog-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.paginate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.paginate-item {
  margin-left: 10px;
}
.paginate-input {
  margin-left: 10px;
  width: 40px;
  height: 32px
}

.top-post {
  margin-left: 10px;
  display: inline-block;
  font-size: 15px;
  color: rgb(30, 128, 255);
}
